{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div id='map-canvas'></div>
        </div>
        <div class="col-md-6" id='bus-list'>
            <div class="list-group">
                {% for bus in busList %}
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Route {{ bus['route'] }}</h4>
                        <p class="list-group-item-text">Lat: {{ bus['lat'] }} Long: {{ bus['lon'] }} Time: {{ bus['msgtime'] }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script type="text/javascript">
function initialize() {
    // $("#map-canvas").hide();
  directionsDisplay = new google.maps.DirectionsRenderer();
  var mapOptions = {
    zoom: 14,
    center: new google.maps.LatLng(34.0753760, -84.2940900) //INPUT CURRENT USER LOCATION HERE
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var image = 'http://nikhilkulkarni.org/navicon.png';
  var busList = {{ busList|tojson }};

  busList.forEach(function(bus) {
      var pos = new google.maps.LatLng(parseFloat(bus['lat']), parseFloat(bus['lon']));
      var beachMarker = new google.maps.Marker({
      position: pos,
      map: map,
      icon: image
      });
    });


  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);
  directionsDisplay.setMap(map);
  directionsDisplay.setPanel(document.getElementById('directions-panel'));

  var control = document.getElementById('control');
  control.style.display = 'block';
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);
}
window.onload = function () { initialize() };
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<style>
#map-canvas {
    background-color: #4f585d;
    margin-top: 40px;
    border-top: rgba(109, 118, 123, 0.2) 20px solid;
    border-bottom: rgba(109, 118, 123, 0.2) 20px solid;
    height:95%;
}
#bus-list {
    margin-top: 55px;
}
</style>
{% endblock %}
