{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div id='map-canvas'></div>
        </div>
        <div class="col-md-6" id='bus-list'>
            <div class="list-group">
                <a href="#search"><button type="button" class="list-group-item">Search For Destination</button></a>
                {% for i in range(0,10): %}
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Route {{ busList[i]['route'] }}</h4>
                        <p class="list-group-item-text">Lat: {{ busList[i]['lat'] }} Long: {{ busList[i]['lon'] }} Time: {{ busList[i]['msgtime'] }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Search fullscreen -->
<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script type="text/javascript">
var busArray = []

var userLat;
var userLong;
function gotPosition(position) {
    userLat = position.coords.latitude;
    userLong = position.coords.longitude;
    initialize();
}
function initialize() {
    // $("#map-canvas").hide();
  directionsDisplay = new google.maps.DirectionsRenderer();

  // Get user's current location
  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(gotPosition);
  }

  var cent;
  if (userLat == null) {
      cent = new google.maps.LatLng(41.850033, -87.6500523);
  }
  else {
      cent = new google.maps.LatLng(userLat, userLong);
  }
  var mapOptions = {
    zoom: 14,
    center: cent //INPUT CURRENT USER LOCATION HERE
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var image = 'http://nikhilkulkarni.org/navicon.png';
  var busList = {{ busList|tojson }};

  busList.forEach(function(bus) {
      var pos = new google.maps.LatLng(parseFloat(bus['lat']), parseFloat(bus['lon']));
      var beachMarker = new google.maps.Marker({
      position: pos,
      map: map,
      icon: image
      });
      busArray.push(beachMarker);
    });

  //code for train stations

  //north-south
  var northSprings = {lat: 33.944, lng: -84.356};
  var sandySprings = {lat: 33.933, lng: -84.352};
  var dunwoody = {lat: 33.921, lng: -84.344};
  var medicalCenter = {lat: 33.910, lng: -84.352};
  var buckhead = {lat: 33.848, lng: -84.367};
  var lindberghCenter = {lat: 33.822, lng: -84.367};
  var artsCenter = {lat: 33.789, lng: -84.387};
  var midtown = {lat: 33.781, lng: -84.386};
  var northAve = {lat: 33.771, lng: -84.386};
  var civicCenter = {lat: 33.776, lng: -84.387};
  var peachTree = {lat: 33.759, lng: -84.387};
  var fivePoints = {lat: 33.753, lng: -84.391};
  var garnett = {lat: 33.748, lng: -84.396};
  var westEnd = {lat: 33.735, lng: -84.412};
  var oakLandCity = {lat: 33.716, lng: -84.425};
  var lakewoodMcPherson = {lat: 33.7, lng: -84.429};
  var eastPoint = {lat: 33.677, lng: -84.440};
  var collegePark = {lat: 33.652, lng: -84.449};
  var airPort = {lat: 33.641, lng: -84.446};

  //east-west
  var holmes = {lat: 33.754, lng: -84.467};
  var westLake = {lat: 33.753, lng: -84.446};
  var ashby = {lat: 33.756, lng: -84.417};
  var vineCity = {lat: 33.756, lng: -84.403};
  var domeGWCCPhilipsCNN = {lat: 33.756, lng: -84.397};
  var georgiaState = {lat: 33.750, lng: -84.386};
  var kingMemorial = {lat: 33.750, lng: -84.375};
  var inmanParkReynoldstown = {lat: 33.757, lng: -84.353};
  var edgewoodCandlerPark = {lat: 33.762, lng: -84.340};
  var eastLake = {lat: 33.765, lng: -84.312};
  var decatur = {lat: 33.775, lng: -84.296};
  var avondale = {lat: 33.775, lng: -84.281};
  var kensington = {lat: 33.772, lng: -84.251};
  var indianCreek = {lat: 33.770, lng: -84.230};

  //goldline
  var doraville = {lat: 33.902, lng: -84.280};
  var chamblee = {lat: 33.886, lng: -84.307};
  var brookhavenOglethorpe = {lat: 33.860, lng: -84.340};
  var lenox = {lat: 33.847, lng: -84.356};



  var trainStations = [northSprings, sandySprings, dunwoody, medicalCenter, buckhead, artsCenter, midtown, northAve, civicCenter, peachTree,
    fivePoints, garnett, westEnd, oakLandCity, lakewoodMcPherson, eastPoint, collegePark, airPort, holmes, westLake, ashby, vineCity, domeGWCCPhilipsCNN,
    georgiaState, kingMemorial, inmanParkReynoldstown, edgewoodCandlerPark, eastLake, decatur, avondale, kensington, indianCreek, doraville, chamblee,
    brookhavenOglethorpe, lenox];

  trainStations.forEach(function(train) {
    var stationPos = new google.maps.LatLng(parseFloat(train['lat']), parseFloat(train['lng']));
    var trainStationImage = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
    var stationMarker = new google.maps.Marker({
      position: stationPos,
      map: map,
      icon: trainStationImage
    });
  });

  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);
  directionsDisplay.setMap(map);
  directionsDisplay.setPanel(document.getElementById('directions-panel'));

  var control = document.getElementById('control');
  control.style.display = 'block';
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

}
window.onload = function () { initialize() };
google.maps.event.addDomListener(window, 'load', initialize);

// Full screen search
$(function () {
    $('a[href="#search"]').on('click', function(event) {
        event.preventDefault();
        $('#search').addClass('open');
        $('#search > form > input[type="search"]').focus();
    });

    $('#search, #search button.close').on('click keyup', function(event) {
        if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
            $(this).removeClass('open');
        }
    });


    //Do not include! This prevents the form from submitting for DEMO purposes only!
    $('form').submit(function(event) {
        event.preventDefault();
        return false;
    })
});

</script>

<style>
#map-canvas {
    background-color: #4f585d;
    margin-top: 40px;
    border-top: rgba(109, 118, 123, 0.2) 20px solid;
    border-bottom: rgba(109, 118, 123, 0.2) 20px solid;
    height:95%;
}
#bus-list {
    margin-top: 55px;
}
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}
</style>
{% endblock %}
